h1 {
  color: yellow;
  font-family: Futura, Helvetica, sans-serif;
}

p {
  position: absolute;
  color: blue;
  font-size: 1em;
}


.chart div {
  font: 10px sans-serif;
  background-color: #8d9fbc;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
