$first-color: #9bb5b5;
$second-color: #eadab9;
$blue-color: #637799;
$red-color: #e0935c;
$orange-color: #e0935c;
$yellow-color: #efce69;
$black-color: #262522;
$white-color: #f9f6ef;


@mixin css-linear-gradient($first, $second) {
  background: -webkit-linear-gradient($first, $second); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($first, $second); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($first, $second); /* For Firefox 3.6 to 15 */
  background: linear-gradient($first, $second); /* Standard syntax */
}

@mixin origin($o) {
  -webkit-transform-origin: $o;
  -moz-transform-origin: $o;
  -o-transform-origin: $o;
  transform-origin: $o;
}

@mixin css-transition($prop, $time, $easing) {
  -webkit-transition: $prop, $time, $easing;
  -moz-transition: $prop, $time, $easing;
  transition: $prop, $time, $easing;
}

@mixin css-transform-perspective($p) {
  -ms-transform: perspective($p); /* IE 9 */
  -webkit-transform: perspective($p); /* Safari */
  -o-transform: perspective($p);
  transform: perspective($p);
}

@mixin css-transform-scale-y($t) {
  -ms-transform: rotateY($t); /* IE 9 */
  -webkit-transform: rotateY($t); /* Safari */
  -o-transform: rotateY($t);
  transform: rotateY($t);
}

@mixin css-transform-rotate-y($t) {
  -ms-transform: rotateY($t); /* IE 9 */
  -webkit-transform: rotateY($t); /* Safari */
  -o-transform: rotateY($t);
  transform: rotateY($t);
}

@mixin css-transform-skew-x($transformation) {
  -ms-transform: skewX($transformation); /* IE 9 */
  -webkit-transform: skewX($transformation);  /* Safari */
  -o-transform: skewX($transformation);
  transform: skewX($transformation);
}

@mixin css-transform-skew-y($transformation) {
  -ms-transform: skewY($transformation); /* IE 9 */
  -webkit-transform: skewY($transformation);  /* Safari */
  -o-transform: skewY($transformation);
  transform: skewY($transformation);
}

.renderedD3 div {
  font: 10px sans-serif;
  background-color: $first-color;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
  margin-top: 10px;
  height: 1em;
  @include css-transition(all, .2s ,ease-in-out);
}


.renderedD3 div:hover {
  font: 10px sans-serif;
  background-color: $second-color;
  text-align: right;
  padding: 3px;
  margin: 1px;
  margin-top: 10px;
  height: 2em;
  color: black;
  @include css-transition(all, .2s ,ease-in-out);
}
