@import "./chart.scss";
@import './helpers/Transform_Mixins.scss';
@import "./components/Header.scss";
@import "./components/Footer.scss";
@import "./components/Navbar.scss";
@import './components/Panel.scss';
@import './components/Logo.scss';
@import './components/controlPanel.scss';
@import './components/TweepyText.scss';
@import './components/_TextSection.scss';

$font-stack: Futura, Helvetica, sans-serif;
$bg-color: #1C1C1C;
$bg-white-color: #FFFFFF;
$pale-color: #f9f6ef;

body {
  background-color: $bg-color;
  margin:0;
  padding:0;
}

.Wrapper {
  margin-top: 10vh;
}

h2 {
  font-family: $font-stack;
  font-weight: 100;
  font-size: 1em;
}

h4 {
  font-family: Baskerville, serif;
  color: white;
  font-weight: 100;
  letter-spacing: 10px;
  font-size: em;
  font-variant: small-caps;
  margin-left: 10%;
}

p {
  color: black;
  font-size: 1em;
}

img {
    position: absolute;
    right: 0;
    top: 0;
    width: 15%;
}

.renderedD3 {
    position: fixed;
    margin-left: 33.33vw;
    width: 33.33vw;
    top: 11.11vh;
}

.LineChanged {
  @include css-transition(all, 0.5s, ease-in-out);
}
