$global-p-color: #dec5c5;
$global-h1-color: #ffffff;
$global-bg-color: #1b1a1a;
$global-font-stack: 'Open Sans', Futura, Helvetica, sans-serif;
$global-p-font-stack: 'Rubik', Helvetica, sans-serif;
$section-color: #dbd7d7;
$p-section-color: #111111;

@import './helpers/Animation_Mixins.scss';
@import './helpers/Transform_Mixins.scss';
@import './helpers/Display.scss';
@import './helpers/User_Events.scss';

@import './components/Section.scss';
@import './components/Subsection.scss';
@import './components/MenuBarIcon.scss';
@import './components/MenuBar.scss';
@import './components/Main.scss';
@import './components/NavBar.scss';
@import './components/SmoothScroll.scss';
@import './components/DownArrow.scss';
@import './components/Page.scss';
@import './components/Graphs.scss';


body {
  margin: 0;
  padding: 0;
  background: $global-bg-color;

  width: 100%;
  overflow:hidden;

  a {
    font-family: $global-p-font-stack;
    color: white;
    text-decoration: none;
    margin: 10px;
    @include css-user-select(none);
    }

  h1 {
    font-family: $global-font-stack;
    color: $global-h1-color;
    text-align: center;
    font-weight: 300;
    @css-user-select(none);
    font-size: 1.5em;
  }

  h2 {
    font-family: $global-font-stack;
    color: $global-h1-color;
    text-align: center;
    font-weight: 300;
    @css-user-select(none);

  }

  h3 {
    font-family: $global-font-stack;
    color: $global-h1-color;
    text-align: center;
    font-weight: 300;
    @css-user-select(none);
  }

  h4 {
    font-family: $global-font-stack;
    color: $global-h1-color;
    text-align: center;
    font-weight: 300;
    @css-user-select(none);
  }

  p {
    font-family: $global-p-font-stack;
    color: $global-p-color;
    font-weight: 500;
    @css-user-select(none);
  }

  .wrapper {
    overflow:hidden;
  }

  @media all and (max-width: 1200px) {

  }

  .updateButton {
    border: none;
    width: 10vw;
    height: 10vh;
    position: fixed;
    background: #ff7970;
    color: white;
    top: 0;
    right: 0;
    z-index: 9999999999;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }



}
