@import "./chart.scss";

$font-stack: Futura, Helvetica, sans-serif;
$bg-color: #FFFFFF;
$pale-color: #f9f6ef;

body {
  background-color: $bg-color;
}

h2 {
  font-family: $font-stack;
  font-weight: 100;
  font-size: 1em;
}

p {
  position: absolute;
  color: blue;
  font-size: 1em;
}

img {
    position: absolute;
    right: 0;
    top: 0;
    width: 15%;
}
