@mixin css-fadein($t) {
-webkit-animation: fadein $t; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein $t; /* Firefox < 16 */
    -ms-animation: fadein $t; /* Internet Explorer */
     -o-animation: fadein $t; /* Opera < 12.1 */
        animation: fadein $t;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
