@mixin css-user-select($n){
  -webkit-user-select: $n;  /* Chrome all / Safari all */
  -moz-user-select: $n;     /* Firefox all */
  -ms-user-select: $n;      /* IE 10+ */
}


@mixin css-cursor($p) {
  cursor: $p;
}
