.about {
  .about-image-container {
    position: absolute;
    top: 10vh;
    left: 25%;
    width: 50%;

    .about-image {
      width: 75vw;
      background: red;
      filter: brightness(100000%);
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.15);
    }
  }

  .about-title {
    position: absolute;
    top: 0;
  }


}
