$panel-font-stack: 'Montserrat', Futura, Helvetica, sans-serif;
$button-text-color: #bbbbbb;
$button-hover-color: #230c15;
$button-text-dark-color: #989191;
$button-hover-dark-color: #f1f1f1;

@import '../helpers/Transform_Mixins.scss';
@import '../helpers/User_Events.scss';

.controlPanel {
  width: 75vw;
  position: fixed;
  z-index: 99999;

  button {
    float:left;
    margin-left: 1em;
    font-size: 0.8em;
    @include css-transition(all, 0.2s, ease-in-out);
    font-weight: 500;
    border: none;
    color: $button-text-color;
    background: transparent;
    @include css-user-select(none);
    outline: none;

    p {
    color: $button-text-color;
    font-family: $panel-font-stack;
    font-weight: 500;
    }
  }

  button:hover {
    color: $button-hover-color;
  }

  button:hover > p {
    color: $button-hover-color;
  }
}
