@import '../helpers/Transform_Mixins.scss';

$first-color: #9bb5b5;
$second-color: #eadab9;
$blue-color: #637799;
$red-color: #e0935c;
$orange-color: #e0935c;
$yellow-color: #efce69;
$black-color: #262522;
$white-color: #f9f6ef;

.d3container {
  border-radius: 50%;
}

.graph {
    position: fixed;
    width: 75vw;
    transform: scale(1.0);
    justify-content: center;
    display: flex;
    align-items: center;

    @media all and (max-width: 800px) {
    transform: scale(0.5);
    }
}

.graph div {
  width: 10%;
  font: 10px sans-serif;
  background-color: $first-color;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
  margin-top: 10px;
  height: 1em;
  @include css-transition(all, .2s ,ease-in-out);
}

.graph rect {
  @include css-transition(all, 0.9s ,ease-in-out);
}

.graph div:hover {
  font: 10px sans-serif;
  background-color: $second-color;
  text-align: right;
  padding: 3px;
  margin: 1px;
  margin-top: 10px;
  height: 2em;
  color: black;
  @include css-transition(all, .2s ,ease-in-out);
}



.LinearReact {
  @include css-transition(all, 0.9s, ease-in-out);
}

.dots {
  @include css-transition(all, 0.9s, ease-in-out);
}

.link {
  @include css-transition(all, 0.9s, ease-in-out);
}


.LinearRect:hover {
fill: #c7bca5;
}

.kernel {
@include css-transition(all, 0.9s, ease-in-out);
}

.kernel:hover + .core {
@include css-transition(all, 0.5s, ease-in-out);
/*stroke: #1c1c1c;*/
stroke-width: 0.0px;

}

.core {
  @include css-transition(all, 0.5s, ease-in-out);
}

.shell {
pointer-events: none;

}
