$header-font-stack: Futura, Helvetica, sans-serif;
$header-text-color: #afb2bb;

@import '../helpers/User_Events.scss';

.Header {
  width: 70vw;
  margin-left: 15vw;
  margin-top: 2vh;

  p {
    margin:0;
    padding:0;
  }

  h1 {
    @include css-user-select(none);
    cursor: default;
    font-family: Baskerville, serif;
    font-size: 1.5em;
    font-weight: 100;
    color: $header-text-color;
    letter-spacing: 10px;
    margin: 0;
    width: 100%;
    padding: 0;
    text-align: center;
  }
}
