$header-font-stack: Raleway, Futura, Helvetica, sans-serif;
$header-text-color: #f1b3c0;

@import '../helpers/User_Events.scss';

.Header {
  width: 70vw;
  margin-top: 10vh;

  p {
    margin:0;
    padding:0;
  }

  h1 {
    @include css-user-select(none);
    cursor: default;
    font-family: $header-font-stack;
    font-size: 1.9em;
    font-weight: 900;
    color: $header-text-color;
    letter-spacing: 0em;
    margin: 0;
    width: 100%;
    padding: 0;
    text-align: left;
  }
}
