$header-font-stack: Futura, Helvetica, sans-serif;

.Header {
  width: 70vw;
  height: 65px;
  margin-left: 15vw;
  margin-top: 2vh;

  p {
    margin:0;
    padding:0;
  }

  h1 {
    font-family: $header-font-stack;
    font-size: 1em;
    font-weight: 100;
    margin:0;
    padding:0;
    float: right;
    margin-right: 1vw;
  }
}
