$intro-button-color: #ff7970;
$mobile-width: 800px;

.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;



  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .header-box {
      width: 50vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      transition: all 0.2s ease-in;

      .title {
        width: 100vw;

        h1 {
          @css-user-select(none);
          cursor: default;
        }
      }

      .subtitle {
        width: 100vw;

        p {
          text-align: center;
          transition: all 0.2s ease-in;
          @css-user-select(none);
        }


      }
    }
  }

  p:hover {
  color: black;
  cursor:pointer;
  }


  .home-bg-image {
    background-position: center center;
    position: absolute;
    top: 0;
    background-size: cover;
    left: 0;
    z-index: -1;
    width: 110vw;
    /*filter: blur(5px);*/
    /*margin: -20px -20px -20px -20px;*/

    @media all and(max-width: $mobile-width) {
      height: 110vh;
      width: auto;
    }
  }

  .home-bg-image-container {
    overflow: hidden;
  }
}
