$panel-font-stack: 'Open Sans', Futura, Helvetica, sans-serif;
$panel-story-header-font-stack: 'Roboto', Futura, Helvetica, sans-serif;
$panel-section-title-font-stack: 'Open Sans', Futura, Helvetica, sans-serif;
$panel-text-color: #d0d0d6;
$h3-text-color: #746c88;
$h4-text-color: #ead4d8;
$p-font-size: 1em;
$li-color: #a56666;
$li-hover-color: #b5ae9e;
$mobile-p-font-size: 6.5vw;

@import './helpers/Transform_Mixins.scss';

.LeftPanel {
    @include css-transition(all, 0.5s, ease-in);
    box-shadow: 2px 10px 10px #070708;
    width: 15vw;
    background: transparent;
    height: 800vh;
    top: 0;
    position: fixed;



    p {
      font-family: $panel-font-stack;
      color: $panel-text-color;
      padding: 0.5em;
      font-size: $p-font-size;
    }

    .menuBar {
      margin-top: 6em;
      padding-left: 1em;

      li {
        @include css-user-select(none);
        @include css-cursor(default);
        @include css-transition(all, 0.1s, ease-in-out);
        font-family: $panel-font-stack;
        font-size: $p-font-size;
        color: $li-color;
        list-style-type: none;
        margin-top: 2vh;
      }

      li:hover {

        @include css-transition(all, 0.1s, ease-in-out);
        color: $li-hover-color;
      }
    }

    @media all and (max-width: 800px) {
    width: 80vw;
    .menuBar {
        li {
          font-size: $mobile-p-font-size;
        }
      }
    }


}
