$live-stream-font-stack: 'Open Sans', Futura, Helvetica, sans-serif;
$main-container-color: #f7f5f5;
$live-stream-text-color: #a29393;
$transition-time: 0.35s;
$transition-prop: transform;
$transition-easing: cubic-bezier(.94,.06,.32,.95);
$right-transition: 25vw;
$mobile-right-transition: 75vw;

.MainContainer {
  background: $main-container-color;
  @include css-transition($transition-prop, $transition-time, $transition-easing);
  position: relative;
  width: 100%;
  overflow-x:hidden;
  /*-webkit-overflow-scrolling: touch;*/

  @media all and (max-width: 1200px) {
    z-index: 9999;
  }

}

.MainContainer:hover {
  @include css-transition($transition-prop, $transition-time, $transition-easing);
}

.menuBarOpen {
  @include css-transition($transition-prop, $transition-time, $transition-easing);
  @media all and (max-width: 1200px) {
  @include css-transform-translate-x($right-transition);
  }
    @media all and (max-width: 800px) {
    @include css-transform-translate-x($mobile-right-transition);
    }
}

.menuBarClose {
  @include css-transition($transition-prop, $transition-time, linear);
  @include css-transform-translate-x(0vw);
  @media all and (max-width: 1200px) {

  }
}
