$transition-time: 0.2s;
$transition-prop: transform;
$transition-easing: ease-in-out;
$bg-color: transparent;
$menu-button-color: #e09090;

.menu-bar {
    @include css-transition(all, $transition-time, $transition-easing);
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: $bg-color;
    display: flex;
    flex-flow: column;

    @media all and (max-width: 1200px) {
    }

    p {
        @include css-user-select(none);
        cursor: pointer;
        font-weight: 400;
        color: white;
    }

    p:hover {
      color: #866363;
    }
}

.menu-bar-hidden {
  @include css-transform-translate-y(50px);
  opacity: 0.0;

}

.menu-bar-shown {
  @include css-transform-translate-y(0px);
  opacity: 1.0;
}

.menu-bar-content {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.menu-bar-item {
  @include css-transition($transition-prop, $transition-time, $transition-easing);

  > p {
    @include css-transition($transition-prop, $transition-time, $transition-easing);
    margin: 0;
    padding-left: 8px;
  }
}
