$menu-bar-icon-color: #f7f5f5;
$transition-time: 0.7s;
$transition-prop: all;
$transition-easing: ease;
$g-time: 0.75s;
$right-transition: 50px;
$mobile-right-transition: 50px;

@import '../helpers/Transform_Mixins.scss';


.menu-bar-icon {
  @include css-transition($transition-prop, $transition-time, $transition-easing);
  border: none;
  color: $menu-bar-icon-color;
  background: transparent;
  outline: none;
  @include css-user-select(none);
  position: fixed;
  margin: 20px 20px;
  cursor: pointer;
  top: 0;
  display: block;
  z-index: 999;

  @media all and (max-width: 1200px) {
    z-index: 99999;
  }
}

.clicked {
left: $right-transition;
}

.unclicked {
left: 0vw;
}

.menu-bar-icon:hover > div {
  @include css-transition($transition-prop, 1.1s, $transition-easing);
  background: #bca293;
}

.menu-bar-icon div {
  @include css-transition($transition-prop, 1.5s, $transition-easing);
  width: 30px;
  height: 5px;
  background: #1c1c1c;
  margin-top: 5px;
}

.menu-bar-icon:hover > #topBar {
  @include css-transition($transition-prop, $g-time, $transition-easing);
  /*@include css-transition(all, $transition-time, ease-in-out);*/
  /*@include css-transform-rotate-and-translate-down(45deg, 10px);*/
}

.menu-bar-icon:hover > #bottomBar {
  @include css-transition($transition-prop, $g-time, $transition-easing);
  /*@include css-transition(all, $transition-time, ease-in-out);*/
  /*@include css-transform-rotate-and-translate-up(-45deg, -10px);*/

}

.menu-bar-icon:hover > #middleBar {
  @include css-transition($transition-prop, $g-time, $transition-easing);
  /*@include css-transform-translate-x(-50px);*/
  /*@include css-transform-squash(0);*/
}

.clicked > #topBar {
  @include css-transition($transition-prop, $transition-time, $transition-easing);
  @include css-transform-rotate-and-translate-down-and-right(45deg, 10px, $right-transition);
  @media all and (max-width: 800px) {
    @include css-transform-rotate-and-translate-down-and-right(45deg, 10px, $mobile-right-transition);
  }
}

.clicked > #bottomBar {
  @include css-transition($transition-prop, $transition-time, $transition-easing);
  @include css-transform-rotate-and-translate-up-and-right(-45deg, -10px, $right-transition);
  @media all and (max-width: 800px) {
    @include css-transform-rotate-and-translate-up-and-right(-45deg, -10px, $mobile-right-transition);
  }
}

.clicked > #middleBar {
  @include css-transition($transition-prop, $transition-time, $transition-easing);
  @include css-transform-squash(0);
  @include css-transform-translate-x($right-transition);
  @media all and (max-width: 800px) {
    @include css-transform-translate-x($mobile-right-transition);
  }
  opacity: 0;
}

.unclicked > #topBar {
  @include css-transition($transition-prop, $transition-time, $transition-easing);
  @include css-transform-rotate-and-translate-down-and-right(0deg, 0px, 0vw);
}

.unclicked > #bottomBar {
  @include css-transition($transition-prop, $transition-time, $transition-easing);
  @include css-transform-rotate-and-translate-up-and-right(0deg, 0px, 0vw);
}

.unclicked > #middleBar {
  @include css-transition($transition-prop, $transition-time, $transition-easing);
  @include css-transform-squash(0);
  @include css-transform-translate-x(0vw);
  opacity: 1;
}
