$height: 8vh;
$text-color: #ac6e6e;
$hover-color: #ffbb98;
$text-hover-color: #ffffff;

.NavBar {
  top: 0;
  position: fixed;
  width: 100vw;
  height: $height;
  display: flex;
  left: 0;
  z-index: 9999;
  background: #f1f1f1;
  @media all and (max-width: 1200px) {
    display: none;
  }

  .nav-bar-item {
    text-align: center;
  }


  .smooth-scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    width: 100%;
    height: 8vh;
    background: #f1f1f1;
    z-index: 9999;
    @include css-transition(all, 0.35s, ease-in-out);
    cursor: pointer;

    p {
      @include css-user-select(none);
      cursor: pointer;
      font-weight: 400;
      color: $text-color;
      @include css-transition(all, 0.35s, ease-in-out);
    }




    @media all and (max-width: 1200px) {
      z-index: -1;
    }
  }

  .smooth-scroll:hover {
    background: $hover-color;
  }

  .smooth-scroll:hover p {
    color: $text-hover-color;
  }


  $nav-button-color: #e09090;

  .navButton {
    @include css-transition(all, 0.5s, ease-in-out);
    border: none;
      margin: 20px 20px;
      width: 12em;
      border-radius: 100%;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      outline: none;
      background: transparent;
      border: 2px solid $nav-button-color;

      @media all and (max-width: 1200px) {
        margin: 20px 20px;
      }

    p {
    color: #9a9aa2;
    padding: 1em;
    font-weight: 200;
    text-align: center;

      @media all and (max-width: 1200px) {
        position: absolute;
        color: #9a9aa2;
        margin: 0;
        margin-left: 3em;
        left:0;
        padding: 0;
      }

    }


  }

  .navButton:hover {
    @include css-transition(all, 0.5s, ease-in-out);
    border: 2px solid $nav-button-color;
    border-radius: 10%;
    background: $nav-button-color;
    cursor: pointer;

    > p {
      @include css-transition(all, 0.5s, ease-in-out);
    }
  }

}

.NavBarHidden {
  @media all and (max-width: 1200px) {
  }
}
