$navbar-font-stack: Futura, Helvetica, sans-serif;
$navbar-bg-color: #18181f;

.Navbar {
  background: transparent;
  top: 0;

  p {
    color: azure;
    margin:0;
    padding:0;
  }

  h1 {
    font-family: $navbar-font-stack;
    font-size: 1em;
    font-weight: 100;
  }

  .navBarButton {
    font-weight: 600;
    border: 0.2em solid black;
    button-radius: 50%;
    color: #18181f;
    margin-left: 1em;
    background: transparent;
  }
}
