$navbar-font-stack: 'Montserrat', Futura, Helvetica, sans-serif;
$navbar-bg-color: #f1f1f1;
$button-hover-color: #1c1c1c;
$button-border-color: #efdbdb;
$button-text-color: #eca7a7;
$h1-color: #7d7277;


@import '../helpers/Transform_Mixins.scss';
@import '../helpers/User_Events.scss';

.Navbar {
  background: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  position: fixed;
  padding-top: 1em;
  height: 2.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;

  h1 {
    font-family: $navbar-font-stack;
    font-size: 1.2em;
    font-weight: 200;
    left: 90vw;
    top: 1em;
    color: $h1-color;
    padding-left: 1em;
  }

  .navBarButton {
    @include css-transition(all, 0.2s, ease-in-out);
    float: right;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    button-radius: 50%;
    color: $button-text-color;
    margin-left: 1em;
    background: transparent;
    @include css-user-select(none);
    outline: none;
  }

  p {
    color: $button-text-color;
    font-size: 1.5em;
    font-family: $navbar-font-stack;
    font-weight: 200;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .navBarButton:hover {
    color: $button-hover-color;
  }

  .navBarButton:hover > p {
    @include css-transition(all, 0.2s, ease-in-out);
    color: $button-hover-color;
  }

}
