$panel-font-stack: Roboto, Futura, Helvetica, sans-serif;
$panel-section-title-font-stack: Raleway, Futura, Helvetica, sans-serif;
$panel-text-color: #d0d0d6;
$h3-text-color: #746c88;
$p-font-size: 1.5vw;
$li-color: #a56666;
$mobile-p-font-size: 6.5vw;

@import './helpers/Transform_Mixins.scss';

h4 {
  font-family: $panel-section-title-font-stack;
  color: white;
  font-weight: 100;
  font-size: 1em;
  text-align: left;
  margin-left: 0px;
  padding-left: 10%;
}

.LeftPanel {
    @include css-transition(all, 0.5s, ease-in);
    box-shadow: 2px 10px 10px #070708;
    width: 15vw;
    background: transparent;
    height: 800vh;
    top: 0;
    position: absolute;



    p {
      font-family: $panel-font-stack;
      color: $panel-text-color;
      padding: 0.5em;
      font-size: $p-font-size;
    }

    .menuBar {
      margin-top: 6em;
      padding-left: 1em;

      li {
        font-family: $panel-font-stack;
        font-size: $p-font-size;
        color: $li-color;
        list-style-type: none;
        margin-top: 2vh;
      }
    }

    @media all and (max-width: 500px) {
    width: 80vw;
    .menuBar {
        li {
          font-size: $mobile-p-font-size;
        }
      }
    }
}





.RightPanel {
    box-shadow: 3px 10px 10px #9b9ba5;
    width: 15vw;
    background: transparent;
    height: 800vh;
    top: 0;
    position: absolute;

    h3 {
      font-family: $panel-font-stack;
      color: $h3-text-color;
      font-size: 1.5em;
      font-weight: 100;
      padding: 1vw;
    }

    p {
      font-family: $panel-font-stack;
      color: $panel-text-color;
      padding: 1vw;
      font-size: $p-font-size;
    }

    .panelStories {
      margin-top: 33.33vh;
    }
}
