$footer-font-stack: Futura, Helvetica, sans-serif;

.TextSection {
  color: #8e8e9c;
  font-family: Didot, serif;
  /* background: #d2cccc; */
  width: 100%;
  margin-top: 100vh;

  p {
    padding: 10px;
  }
}
