$section-color: #f1f1f1;
$start-button-color: #faa187;
$fg-color: #dbd7d7;
$bg-color: #ffffff;

.Company {
  .Start {
    width: 350px;
    background-color: #faa187;
    max-width: 50%;
    border-radius: 8px;
  }

  p {
    color: white;
    font-weight: 300;
    @include css-user-select(none);
  }

  h1 {
    color: white;
  }

  .StartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50vh;
    z-index: 99;
  }

  .images {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .background_image {
      width: 30%;
      height: 33.33vh;
      padding: 10px;
      background-color: $bg-color;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;

      @media all and (max-width: 800px) {
        width: 100%;
        left: -3vw;
      }
  }

  .foreground_image {
      width: 100%;
      height: 33.33vh;
      top: 10vw;
      background-color: $fg-color;


      @media all and (max-width: 800px) {
        width: 100vw;
      }
  }
}
